/* Smartphones (VERTICAL) ----------- */
@media only screen
and (min-device-width : 320px) and (max-device-width : 640px) {
  /* Styles */
  .controls__sub .controls__sub--slides section {
    width: 20%;
    display: flex;
    transition: .2s linear;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center; }
    label{
      color: $colorH5;
      font-size: 30px; }
      h3{
        font-size: 30px;}
      h2{
        font-size: 30px;}
        .texBox span{
          margin: 30px;
          font-size: 25px;
          color: white;
      }
        @keyframes maquinaescribir {
          from {
            width: 10%;
          }
          to {
            width: 90%;
          }
        }
        .footer__contacto{
          position: unset; }
          .footer__table{
            color: white;
          }
}

/* iPads (VERTICAL) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : portrait) {
  /* Styles */
  .footer__table{
    color: white;
  }
  @keyframes maquinaescribir {
    from {
      width: 75%; }
    to {
      width: 15%; }
  }
}
