.servicio{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    
    background-size: cover;
    background-position: center;
}
.servicio__collapse{
        border: solid;
        margin: 30px;
        box-shadow: 15px 15px $colorServ;
        display: inline-flex;
        width: 350px;
        padding: 20px;
        background-color: white;
        font-size: 20px;
}
.Paper{
    background:url(https://live.staticflickr.com/65535/51368133536_7dff208691_o.jpg);
    background-size: cover;
    background-position: center;
}
