

$colorH2:rgb(233, 12, 196);
$colorH3:gold;
$colorH4:rgb(189, 1, 236);
$colorH5:rgb(126, 1, 109);


$colorBox:blueviolet;

$bgH1:gold;

h1{
    background-color: $bgH1;
    margin: 50px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 1px solid;
    box-shadow: 15px 15px $colorBox;
}
h2{
    color: $colorH2;
    background-color: $bgH1;
    margin: 50px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    border: 1px solid;
    box-shadow: 15px 15px $colorBox;
}
h3{
    color: $colorH2;
   text-align: center;
}
h4{
    color: $colorH4;
    text-align: center;
}
label{
    color: $colorH5;
}
.texBox{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background:  black;
}
.texBox span{
    margin: 30px;
    font-size: 40px;
    color: white;
}
.maquina::after {
    content: "";
    border-left: 2px solid rgb(250, 250, 250);
    background: black;
    right: 0;
    height: 8%;
    position: absolute;
    animation: maquinaescribir 5s infinite alternate steps(20);
  }
  
  @keyframes maquinaescribir {
    from {
      width: 65%;
    }
    to {
      width: 34%;
    }
  }
