$colorNav:linear-gradient(rgb(228, 14, 228),rgb(245, 245, 12));

$colorNosotros:linear-gradient(rgb(228, 14, 228),rgb(245, 245, 12));

$colorGalari:black;

$colorFav:rgb(231, 11, 213);
$colorFav2:gold;

$colorServ:gold;



$colorTableta:pink;
$colorTableta2:gold;
$colorTableta3:blueviolet;
$colorTableta4:#eb90c8;

$colorCarrito:linear-gradient(rgb(228, 14, 228),rgb(245, 245, 12));
$colorCarrito2:pink;
$colorCarrito3:rgb(167, 7, 127);
